# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/

# Dataset
dataset/

# Training outputs
model-training/processed/

# Optional training artifacts (if not needed in repo)
model-training/saved_model/
model-training/saved_model.zip